{% extends "base.html" %}

{% block style %}<link href="{{ url_for('static', filename='css/dash.css') }}" rel="stylesheet">{% endblock %}
{% block title %}<title>I'm looking for data</title>{% endblock %}

{% block main %}
<div id="greetings">
	<span class="greetings">Hello there,</span>
	<span class="greet-user">{{ session["username"] }}</span>
</div>

<div class="available-stocks">
	<span class="the-titles">Stock Availability<i class="fa-solid fa-circle-check"></i></span>
	<table class="stocks-table">
		<tr>
			<th title="Product Name">Product</th>
			<th title="Units Sold">Units Sold</th>
			<th title="On Hand">On Hand</th>
			<th title="To Come">To Come</th>
		</tr>

		<tr>
			<td>Under Armour Curry Flow 8</td>
			<td>300 pcs</td>
			<td>30 pcs</td>
			<td>0 pcs</td>
		</tr>

		<tr>
			<td>Nike Jordan XXXVI Low Luka PF</td>
			<td>77 pcs</td>
			<td>0 pcs</td>
			<td>77 pcs</td>
		</tr>

		<tr>
			<td>New Balance Conversations Amongst Us Kawhi Sig 2</th>
			<td>2 pcs</td>
			<td>2 pcs</td>
			<td>2 pcs</td>
		</tr>

		<tr>
			<td>Under Armour Curry Flow 8</td>
			<td>300 pcs</td>
			<td>30 pcs</td>
			<td>0 pcs</td>
		</tr>

		<tr>
			<td>Nike Jordan XXXVI Low Luka PF</td>
			<td>77 pcs</td>
			<td>0 pcs</td>
			<td>77 pcs</td>
		</tr>

		<tr>
			<td>New Balance Conversations Amongst Us Kawhi Sig 2</th>
			<td>2 pcs</td>
			<td>2 pcs</td>
			<td>2 pcs</td>
		</tr>
	</table>
</div>

<div class="po-details">
	<span class="the-titles">Purchase Order Details<i class="fa-solid fa-circle-info"></i></span>
	<table class="po-details-table">
		<tr>
			<th title="Order ID">ID</th>
			<th title="SKU">SKU</th>
			<th title="Item Name">Item Name</th>
			<th title="Quantity">QTY</th>
			<th title="Vendor Name">Vendor</th>
			<th title="Order Date">ORD Date</th>
			<th title="Expected Date">EXP Date</th>
		</tr>

		<tr>
			<td>13</td>
			<td>UASC3008</td>
			<td>Under Armour Curry Flow 8</td>
			<td>10 pcs</td>
			<td>Under Armour</td>
			<td>10/30/2022</td>
			<td>12/25/2022</td>
		</tr>

		<tr>
			<td>18</td>
			<td>NJLD7736</td>
			<td>Nike Jordan XXXVI Low Luka PF</td>
			<td>77 pcs</td>
			<td>Nike</td>
			<td>11/12/2022</td>
			<td>1/5/2023</td>
		</tr>

		<tr>
			<td>13</td>
			<td>UASC3008</td>
			<td>Under Armour Curry Flow 8</td>
			<td>10 pcs</td>
			<td>Under Armour</td>
			<td>10/30/2022</td>
			<td>12/25/2022</td>
		</tr>
		
		<tr>
			<td>18</td>
			<td>NJLD7736</td>
			<td>Nike Jordan XXXVI Low Luka PF</td>
			<td>77 pcs</td>
			<td>Nike</td>
			<td>11/12/2022</td>
			<td>1/5/2023</td>
		</tr>

		<tr>
			<td>13</td>
			<td>UASC3008</td>
			<td>Under Armour Curry Flow 8</td>
			<td>10 pcs</td>
			<td>Under Armour</td>
			<td>10/30/2022</td>
			<td>12/25/2022</td>
		</tr>
		
		<tr>
			<td>18</td>
			<td>NJLD7736</td>
			<td>Nike Jordan XXXVI Low Luka PF</td>
			<td>77 pcs</td>
			<td>Nike</td>
			<td>11/12/2022</td>
			<td>1/5/2023</td>
		</tr>
	</table>
</div>

<div class="top-sellers">
	<span class="the-titles">Top Selling Items<i class="fa-solid fa-award"></i></span>
	<canvas id="topsell-chart" height="1" width="5"></canvas>
</div>

<!-- CHART https://www.chartjs.org/docs/latest/charts/bar.html -->
<script>
	const ctx = document.getElementById("topsell-chart").getContext("2d");
	const top_selling = new Chart(ctx, {
		type: "bar",
		data: {
			labels: [
				"Under Armour Curry Flow 8",
				"Nike Jordan XXXVI Low Luka PF",
				"New Balance Conversations Amongst Us Kawhi Sig",
				"Green"
			],
			datasets: [{
				label: "TOP SELLING ITEMS",
				data: [300, 777, 254, 123],
				backgroundColor: [
					"rgba(96 108 56/.5)",
					"rgba(40 54 24/.5)",
					"rgba(221 161 94/.5)",
					"rgba(188 108 37/.5)"
				],
				borderColor: [
					"rgba(96 108 56/1)",
					"rgba(40 54 24/1)",
					"rgba(221 161 94/1)",
					"rgba(188 108 37/1)"
				],
				borderWidth: 2
			}]
		},
		options: {
			indexAxis: "y",
			scales: {
				y: {
					beginAtZero: true
				}
			}
		}
	});
</script>
{% endblock %}