{% extends "base.html" %}

{% block style %}<link href="{{ url_for('static', filename='css/dash.css') }}" rel="stylesheet">{% endblock %}
{% block title %}<title>I'm looking for data</title>{% endblock %}

{% block main %}
<div id="greetings">
	<span class="greetings">Hello there,</span>
	<span class="greet-user">{{ session["username"] }}</span>
</div>

<div class="available-stocks">
	<span class="the-titles">Stock Availability<i class="fa-solid fa-circle-check"></i></span>
	<table class="stocks-table">
		<tr>
			<th title="Product Name">Product</th>
			<th title="Units Sold">Units Sold</th> <!-- sales_orders["so_qty"] -->
			<th title="On Hand">On Hand</th> <!-- products["pro_quantity"] -->
			<th title="To Come">To Come</th> <!-- purhcase_orders["po_qty"] -->
		</tr>

		<tr>
			<td>NMD_R1 PRIMEBLUE SHOES</td>
			<td>0 pcs</td>
			<td>225 pcs</td>
			<td>25 pcs</td>
		</tr>

		<tr>
			<td>ULTRABOOST 22 SHOES</td>
			<td>10 pcs</td>
			<td>340 pcs</td>
			<td>40 pcs</td>
		</tr>

		<tr>
			<td>CONTINENTAL 80 SHOES</td>
			<td>25 pcs</td>
			<td>600 pcs</td>
			<td>50 pcs</td>
		</tr>

		<tr>
			<td>ULTRA 4DFWD SHOES</td>
			<td>15 pcs</td>
			<td>460 pcs</td>
			<td>0 pcs</td>
		</tr>
	</table>
</div>

<div class="po-details">
	<span class="the-titles">Purchase Order Details<i class="fa-solid fa-circle-info"></i></span>
	<table class="po-details-table">
		<tr>
			<th title="Order Number">Order #</th>
			<th title="Item Name">Item Name</th>
			<th title="Quantity">Quantity</th>
			<th title="Vendor Name">Vendor</th>
			<th title="Order Date">Order Date</th>
		</tr>

		{% for porder in porders %}
		<tr>
			<td>{{ porder["po_ordnum"] }}</td>
			<td>{{ porder["po_product"] }}</td>
			<td>{{ porder["po_qty"] }} pcs</td>
			<td>{{ porder["po_vendor"] }}</td>
			<td>{{ porder["po_orddate"] }}</td>
		</tr>
		{% endfor %}
	</table>
</div>

<div class="top-sellers">
	<span class="the-titles">Top Selling Items<i class="fa-solid fa-award"></i></span>
	<canvas id="topsell-chart" height="250" width="1000"></canvas>
</div>

<!-- CHART https://www.chartjs.org/docs/latest/charts/bar.html -->
<script>
	const ctx = document.getElementById("topsell-chart").getContext("2d");
	const top_selling = new Chart(ctx, {
		type: "bar",
		data: {
			labels: ["ULTRABOOST 22 SHOES", "CONTINENTAL 80 SHOES", "ULTRA 4DFWD SHOES"],
			datasets: [{
				label: "TOP SELLING ITEMS",
				data: [10, 25, 15],
				backgroundColor: ["rgba(96 108 56/.5)", "rgba(40 54 24/.5)", "rgba(221 161 94/.5)"],
				borderColor: ["rgba(96 108 56/1)", "rgba(40 54 24/1)", "rgba(221 161 94/1)"],
				borderWidth: 2
			}]
		},
		options: {
			indexAxis: "y",
			// responsive: false,
			scales: {
				y: { beginAtZero: true }
			}
		}
	});
</script>
{% endblock %}